/* .button is a viewport specific id */

/* make background image animation */
.aButton1 {background-image: linear-gradient(to left, rgba(90, 90, 90, 0.267) 65%, #dfdfdf  100%);}
.aButton1 {
    /* add border and border curve */
    border: solid 1px black;
    border-radius: 7px;
    /* change background size */
    background-size: 200% auto;
    /* configure size of button */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    /* configure the position of the button inside of the div*/
    margin-left: 150px;
    margin-right: auto;
    /* automatically transform all text to uppercase */
    text-transform: uppercase;
    /* change the animation duration to 0.3 seconds */
    transition-duration: 0.3s;
}
.aButton1:hover {
    /* add animation when button is hovered on */
    background-position: right center;
}

.aButton2 {background-image: linear-gradient(to left, rgba(90, 90, 90, 0.267) 65%, #3471b2  100%);}
.aButton2 {
    border: solid 1px black;
    border-radius: 7px;
    background-size: 200% auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 150px;
    margin-right: auto;
    text-transform: uppercase;
    transition-duration: 0.3s;
}
.aButton2:hover {
    background-position: right center;
}

.aButton3 {background-image: linear-gradient(to left, rgba(90, 90, 90, 0.267) 65%, #d0bd62  100%);}
.aButton3 {
    border: solid 1px black;
    border-radius: 7px;
    background-size: 200% auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 150px;
    margin-right: auto;
    text-transform: uppercase;
    transition-duration: 0.3s;
}
.aButton3:hover {
    background-position: right center;
}

.aButton4 {background-image: linear-gradient(to left, rgba(90, 90, 90, 0.267) 65%, #3e0519  100%);}
.aButton4 {
    border: solid 1px black;
    border-radius: 7px;
    background-size: 200% auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 150px;
    margin-right: auto;
    text-transform: uppercase;
    transition-duration: 0.3s;
}
.aButton4:hover {
    background-position: right center;
}

.aButton5 {background-image: linear-gradient(to left, rgba(90, 90, 90, 0.267) 65%, #d2b24a  100%);}
.aButton5 {
    border: solid 1px black;
    border-radius: 7px;
    background-size: 200% auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 150px;
    margin-right: auto;
    text-transform: uppercase;
    transition-duration: 0.3s;
}
.aButton5:hover {
    background-position: right center;
}

.aButton6 {background-image: linear-gradient(to left, rgba(90, 90, 90, 0.267) 65%, #3471b2  100%);}
.aButton6 {
    border: solid 1px black;
    border-radius: 7px;
    background-size: 200% auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 150px;
    margin-right: auto;
    text-transform: uppercase;
    transition-duration: 0.3s;
}
.aButton6:hover {
    background-position: right center;
}

.abButton {
    border: solid 1px black;
    border-radius: 7px;
    background-color: rgba(255, 0, 0, 0);
    background-size: 100% auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
    transition-duration: 0.3;
}
.abButton:hover {
    background-color: rgba(90, 90, 90, 0.74);
}