/* ============================= */
/*         MEDIA QUERIES         */
/* ============================= */


/* Desktop (4k@2560px) */
@media screen and (min-width: 2560px) {
    .container {
        width: 1280px;
    }
}

@media screen and (min-width: 1080px) {
    .container {
        width: 1280px;
    }
}


/* Laptop Large*/
@media screen and (max-width: 1440px) {
    .container {
        width: 75%;
    }
    #headText {
        font-size: 43px;
    }
    .aHeader3 {
        font-size: 38px;
    }
    .aHeader2 {
        font-size: 25px;
    }
    .aHeader1 {
        font-size: 30px;
    }
    .aColumn {
        height: 95px;
    }
    .aimg1 {
        background-position: 25px, -30px;
    }
    .aimg2 {
        background-position: 25px, -20px;
    }
    .aimg3 {
        background-position: 25px, -65px;
    }
    .aimg4 {
        background-position: 29px, -20px;
    }
    .aimg5 {
        background-position: 29px, -20px;
    }
    .aimg6 {
        background-position: 15px, -25px;
    }
    .aimg7 {
        background-size: 60%, 50%;
        background-position: -100px -2px, 530px -2px;
    }
    #sicons {
        margin-top: 40px;
    }
    #liTop {
        font-size: 16px;
    }
    #liBott {
        font-size: 10px;
    }
    #riTop {
        font-size: 16px;
    }
    #riBott {
        font-size: 10px;
    }
    #visa {
        margin-right: 21px;
    }
}

@media screen and (max-width: 1363px) {
    #headText {
        font-size: 41.6px;
    }
    .aHeader3 {
        font-size: 36px;
    }
}

@media screen and (max-width: 1314px) {
    #headText {
        font-size: 37px;
    }
    .aimg7 {
        background-size: 65%, 60%;
        background-position: -130px -2px, 470px -2px;
    }
}

@media screen and (max-width: 1276px) {
    .aHeader2 {
        font-size: 125%;
    }
    .aHeader3 {
        font-size: 32px;
    }
    #headText {
        font-size: 35px;
    }
}

@media screen and (max-width: 1180px) {
    .aHeader2 {
        font-size: 106.25%;
    }
    .aHeader1 {
        font-size: 156.25%;
    }
    .aColumn {
        height: 80px;
    }
}

@media screen and (max-width: 1168px) {
    #headText {
        font-size: 35px;
    }
}

@media screen and (max-width: 1140px) {
    .aHeader1 {
        font-size: 143.75%;
    }
}

@media screen and (max-width: 1119px) {
    .button {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 6.2px !important;
        padding-top: 6.2px !important;
    }
    .aText {
        font-size: 10px;
    }
}

@media screen and (max-width: 1108px) {
    .aHeader1 {
        font-size: 131.25% !important;
    }
    .aHeader2 {
        font-size: 93.75% !important;
    }
    #headText {
        font-size: 33px;
    }
    .aimg7 {
        background-size: 70%, 65%;
        background-position: -160px -2px, 410px -2px;
    }
}

@media screen and (max-width: 1041px) {
    .aimg7 {
        background-size: 75%, 70%;
        background-position: -175px -2px, 380px -2px;
    }
    #headText {
        font-size: 31px;
    }
}

/* Laptop */
@media screen and (max-width: 1024px) {
    .container {
        width: 75%;
    }
    #headText {
        font-size: 28px;
    }
    .aHeader3 {
        font-size: 30px;
    }
    .aHeader2 {
        font-size: 20px;
        margin-left: 130px;
    }
    .aHeader1 {
        font-size: 25px;
        margin-left: 130px;
    }
    .abColumn {
        height: 110px;
    }
    .abButton {
        padding-left: 20px !important;
        padding-right: 15px !important;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }
    .aButton1, .aButton2, .aButton3, .aButton4, .aButton5, .aButton6{
        padding-left: 20px !important;
        padding-right: 15px !important;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        margin-left: 130px !important;
    }
    .aimg1 {
        background-size: 47%;
        background-position: 17px -17px;
    }
    .aimg2 {
        background-size: 48%;
        background-position: 17px -11px;
    }
    .aimg3 {
        background-size: 50%;
        background-position: 17px -47px;
    }
    .aimg4, .aimg5 {
        background-size: 43%;
        background-position: 20px -13px;
    }
    .aimg6 {
        background-size: 55%;
        background-position: 6px -15px;
    }
    .aimg7 {
        background-size: 65%, 55%;
        background-position: -110px -2px, 370px -2px;
    }
    #fb {
        width: 50%;
    }
    #twi {
        width: 55%;
    }
    #dis {
        width: 50%;
    }
    #titan1 {
        margin-top: -5px;
    }
    #warlock2 {
        margin-top: -25px;
    }
    #warlock1 {
        margin-top: -20px;
    }
    #searchBox {
        font-size: 11px;
        width: 100%;
        padding-left: 10px;
        padding-right: 0px;
    }
    #search {
        font-size: 12px;
    }
}

@media screen and (max-width: 978px) {
    #headText {
        font-size: 29px;
    }
    .aHeader3 {
        font-size: 29px;
    }
    .aimg7 {
        background-position: -110px -2px, 360px -2px;
    }
}

@media screen and (max-width: 950px) {
    .aHeader1 {
        font-size: 112.5% !important;
    }
    .aHeader2 {
        font-size: 81.25% !important;
    }
    .button, .abButton {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 5px !important;
        padding-top: 0px !important;
    }
    .aText {
        font-size: 8px;
    }
    .aColumn {
        height: 80px;
    }
}

@media screen and (max-width: 915px) {
    #headText {
        font-size: 28px;
    }
}

/* change to grid 2x3 */
@media screen and (max-width: 900px) {
    .aColumn {
        width: 25% !important; 
        height: 90px !important;
    }
    .row {
        display: none;
    }
    .aRow {
        display: table;
    }
    #searchBox {
        display: none;
    }
    .container {
        width: 100%;
    }
    #headText {
        font-size: 35px;
    }
    .nav-wrapper {
        width: 70px !important;
        margin-right: 30px;
        /* border: solid 2px red; */
    }
    #userColumn {
        margin-left: 0px;
    }
    .button, .abButton {
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 8px !important;
        padding-top: 8px !important;
    }
    .button {
        margin-left: 0px !important;
        margin-bottom: 10px !important;
    }
    .boxContent {
        border-radius: 9px;
        width: 50%;
        float: right;
        height: 95%;
    }
    .aHeader1, .aHeader2 {
        margin-left: 0px !important;
    }
    .aHeader3 {
        font-size: 40px;
    }
    .aText {
        font-size: 11px;
    }
    .aRaids {
        font-size: 32px !important;
    }
    .aTrials {
        font-size: 29px !important;
    }
    .aExotics {
        font-size: 28px !important;
    }
    .aNightfalls {
        font-size: 25px !important;
        letter-spacing: 1px;
    }
    .aDungeons {
        font-size: 27px !important;
        letter-spacing: 1px;
    }
    .aQuests {
        font-size: 28px !important;
    }
    .aimg7 {
        background-position: -120px -2px, 430px -2px;
    }
    .aimg1 {
        background-size: 30%;
        background-position: 70px -30px;
    }
    .aimg2 {
        background-size: 30%;
        background-position: 65px -20px;
    }
    .aimg3 {
        background-size: 32%;
        background-position: 65px -66px;
    }
    .aimg4 {
        background-size: 30%;
        background-position: 65px -30px;
    }
    .aimg5 {
        background-size: 28%;
        background-position: 73px -25px;
    }
    .aimg6 {
        background-size: 37%;
        background-position: 50px -35px;
    }
}

@media screen and (max-width: 828px) {
    #headText {
        font-size: 34px;
    }
    .aHeader3 {
        font-size: 35px;
    }
    .aimg7 {
        background-position: -120px -2px, 380px -2px;
    }
}

@media screen and (max-width: 805px) {
    #headText {
        font-size: 32px;
    }
    .aHeader3 {
        font-size: 34px;
    }
    .aimg1 {
        background-size: 30%;
        background-position: 70px -20px;
    }
    .aimg2 {
        background-size: 30%;
        background-position: 65px -12px;
    }
    .aimg3 {
        background-size: 32%;
        background-position: 65px -53px;
    }
    .aimg4 {
        background-size: 30%;
        background-position: 65px -20px;
    }
    .aimg5 {
        background-size: 28%;
        background-position: 73px -17px;
    }
    .aimg6 {
        background-size: 37%;
        background-position: 50px -25px;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    #headText {
        font-size: 28px;
    }
    #searchBox {
        display: none;
    }
    .nav-wrapper {
        width: 70px !important;
        margin-right: 30px;
        /* border: solid 2px red; */
    }
    .aimg7 {
        background-size: 75%, 70%;
        background-position: -170px -2px, 370px -2px;
    }
    .aimg1 {
        background-size: 35%;
        background-position: 60px -27px;
    }
    .aimg2 {
        background-size: 35%;
        background-position: 60px -19px;
    }
    .aimg3 {
        background-size: 35%;
        background-position: 60px -58px;
    }
    .aimg4, .aimg5 {
        background-size: 32%;
        background-position: 65px -19px;
    }
    .aimg6 {
        background-size: 40%;
        background-position: 50px -28px;
    }
}

@media screen and (max-width: 757px) {
    #headText {
        font-size: 30px;
    }
}

@media screen and (max-width: 710px) {
    #headText {
        font-size: 28px;
    }
    .aHeader3 {
        font-size: 31px;
    }
    .aNightfalls {
        font-size: 23px !important;
    }
    .aDungeons {
        font-size: 25px !important;
    }
    .aimg7 {
        background-position: -150px -2px, 330px -2px;
    }
    .aimg1 {
        background-position: 60px -19px;
    }
    .aimg2 {
        background-position: 60px -13px;
    }
    .aimg3 {
        background-position: 60px -48px;
    }
    .aimg4 {
        background-position: 65px -15px;
    }
    .aimg5 {
        background-position: 65px -17px;
    }
    .aimg6 {
        background-position: 50px -22px;
    }
    #userIcon {
        margin-top: 5px;
        width: 47px;
    }
    #cc {
        font-size: 17px !important;
    }
    #ca {
        font-size: 17px !important;
    }
    .nav-wrapper {
        margin-right: 10px;
    }
}

@media screen and (max-width: 697px) {
    .footer {
        display: none;
    }
    .footerx3 {
        display: block;
    }
    #sicons {
        margin-top: 37px;
    }
    #fb {
        width: 40%;
    }
    #twi {
        width: 46%;
    }
    #dis {
        width: 40%;
    }
    #mc {
        width: 15%;
        margin: 0;
        margin-left: 70px;
        float: left;
    }
    #mcSecure {
        width: 10%;
        margin: 0;
        margin-left: 250px;
        margin-top: -20px;
        float: left;
    }
    #visa {
        width: 8%;
        margin: 0;
        margin-right: 230px;
        margin-top: -37px;
        float: right;
    }
    #visaSecure {
        width: 11%;
        margin: 0;
        margin-right: 70px;
        margin-top: -65px;
        float: right;
    }
}

@media screen and (max-width: 663px) {
    #headText {
        font-size: 26px;
    }
    .aHeader3 {
        font-size: 28px;
    }
    .aimg1 {
        background-size: 40%;
        background-position: 45px -23px;
    }
    .aimg2 {
        background-size: 40%;
        background-position: 45px -18px;
    }
    .aimg3 {
        background-size: 40%;
        background-position: 45px -54px;
    }
    .aimg4 {
        background-size: 37%;
        background-position: 50px -19px;
    }
    .aimg5 {
        background-size: 37%;
        background-position: 50px -22px;
    }
    .aimg6 {
        background-size: 45%;
        background-position: 35px -25px;
    }
}

@media screen and (max-width: 630px) {
    #sicons {
        margin-top: 37px;
    }
    #fb {
        width: 42%;
    }
    #twi {
        width: 48%;
    }
    #dis {
        width: 42%;
    }
    #mc {
        width: 13%;
        margin: 0;
        margin-left: 70px;
        float: left;
    }
    #mcSecure {
        width: 8%;
        margin: 0;
        margin-left: 240px;
        margin-top: -20px;
        float: left;
    }
    #visa {
        width: 6%;
        margin: 0;
        margin-right: 205px;
        margin-top: -37px;
        float: right;
    }
    #visaSecure {
        width: 9%;
        margin: 0;
        margin-right: 70px;
        margin-top: -65px;
        float: right;
    }
}

@media screen and (max-width: 619px) {
    #headText {
        font-size: 25px;
    }
    .aimg7 {
        background-position: -130px -2px, 280px -2px;
    }
    .aNightfalls {
        font-size: 20px !important;
    }
    .aDungeons {
        font-size: 21px !important;
    }
    .aRaids {
        font-size: 31px !important;
    }
    .aTrials {
        font-size: 28px !important;
    }
    .aExotics {
        font-size: 27px !important;
    }
    .aQuests {
        font-size: 27px !important;
    }
}

@media screen and (max-width: 598px) {
    #headText {
        font-size: 24px;
    }
    .aimg1 {
        background-size: 40%;
        background-position: 35px -17px;
    }
    .aimg2 {
        background-size: 40%;
        background-position: 35px -8px;
    }
    .aimg3 {
        background-size: 40%;
        background-position: 35px -42px;
    }
    .aimg4 {
        background-size: 37%;
        background-position: 39px -10px;
    }
    .aimg5 {
        background-size: 37%;
        background-position: 37px -15px;
    }
    .aimg6 {
        background-size: 45%;
        background-position: 29px -17px;
    }
}

@media screen and (max-width: 576px) {
    #headText {
        font-size: 22px;
    }
    #sicons {
        margin-top: 37px;
    }
    #fb {
        width: 43%;
    }
    #twi {
        width: 49%;
    }
    #dis {
        width: 43%;
    }
    #mc {
        width: 13%;
        margin: 0;
        margin-left: 70px;
        float: left;
    }
    #mcSecure {
        width: 8%;
        margin: 0;
        margin-left: 210px;
        margin-top: -20px;
        float: left;
    }
    #visa {
        width: 6%;
        margin: 0;
        margin-right: 200px;
        margin-top: -37px;
        float: right;
    }
    #visaSecure {
        width: 9%;
        margin: 0;
        margin-right: 70px;
        margin-top: -65px;
        float: right;
    }
}

@media screen and (max-width: 560px) {
    .aNightfalls {
        font-size: 18px !important;
    }
    .aDungeons {
        font-size: 19px !important;
    }
    .aRaids {
        font-size: 29px !important;
    }
    .aTrials {
        font-size: 26px !important;
    }
    .aExotics {
        font-size: 25px !important;
    }
    .aQuests {
        font-size: 25px !important;
    }
    .aHeader3 {
        font-size: 24px;
    }
    .aText {
        font-size: 9px;
    }
    .button, .abButton {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 6px !important;
        padding-top: 6px !important;
    }
    .boxContent {
        border-radius: 9px;
        width: 50%;
        float: right;
        height: 95%;
    }
    .aimg1 {
        background-size: 45%;
        background-position: 30px -20px;
    }
    .aimg2 {
        background-size: 45%;
        background-position: 30px -10px;
    }
    .aimg3 {
        background-size: 45%;
        background-position: 30px -46px;
    }
    .aimg4 {
        background-size: 41%;
        background-position: 35px -12px;
    }
    .aimg5 {
        background-size: 41%;
        background-position: 35px -12px;
    }
    .aimg6 {
        background-size: 50%;
        background-position: 24px -20px;
    }
    .aimg7 {
        background-size: 80%, 75%;
        background-position: -120px -2px, 250px -2px;
    }
    .abColumn {
        height: 100px;
    }
}

@media screen and (max-width: 532px) {
    #headText {
        font-size: 20px;
    }
    .aHeader3 {
        font-size: 22px;
    }
    #sicons {
        margin-top: 37px;
    }
    #fb {
        width: 43%;
    }
    #twi {
        width: 49%;
    }
    #dis {
        width: 43%;
    }
    #mc {
        width: 13%;
        margin: 0;
        margin-left: 70px;
        float: left;
    }
    #mcSecure {
        width: 8%;
        margin: 0;
        margin-left: 200px;
        margin-top: -20px;
        float: left;
    }
    #visa {
        width: 6%;
        margin: 0;
        margin-right: 190px;
        margin-top: -37px;
        float: right;
    }
    #visaSecure {
        width: 9%;
        margin: 0;
        margin-right: 70px;
        margin-top: -65px;
        float: right;
    }
}

@media screen and (max-width: 490px) {
    .footerx3 {
        display: none;
    }
    .footer {
        display: none;
    }
    .footerx2 {
        display: block;
    }
    #mc {
        width: 45%;
        margin: 0;
        margin-top: 15px;
        float: none;
    }
    #mcSecure {
        width: 30%;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 18px;
        float: none;
    }
    #visa {
        width: 20%;
        margin: 0;
        margin-bottom: 15px;
        margin-left: 8px;
        float: none;
    }
    #visaSecure {
        width: 31%;
        margin: 0;
        margin-left: 5px;
        float: none;
    }
    #liColumn {
        width: 50%;
    }
    #loColumn {
        width: 50%;
    }
    #roColumn {
        margin: 0;
        /* margin-top: 100px; */
        width: 50%;
    }
    #riColumn {
        width: 50%;
        /* border: solid 2px green; */
    }
    #sicons {
        margin-top: 37px;
        width: auto;
    }
    #fb {
        width: 38%;
        margin-left: 15px;
    }
    #twi {
        width: 44%;
        margin-right: 15x;
    }
    #dis {
        width: 38%;
    }
}

@media screen and (max-width: 489px) {
    #headText {
        font-size: 19px;
    }
}

@media screen and (max-width: 467px) {
    #headText {
        font-size: 17px;
    }
}

/* Mobile Large*/
@media screen and (max-width: 425px) {
    .container {
        width: 100%;
    }
    #headText {
        font-size: 30px;
        text-align: left;
        line-height: 40px;
    }
    .headerLeft {
        display: none;
    }
    .headerRight {
        width: 50%;
        margin-top: 20px;
        margin-left: 235px;
        /* border: solid 2px black; */
    }
    .headerMiddle {
        width: 66%;
        padding-right: 30px;
        padding-left: 10px;
        margin-left: 0px;
        /* border: solid 2px black; */
    }
    .mid {
        margin-top: 60px;
    }
    .logo {
        width: 25%;
        margin-top: -8px;
    }
    #userIcon {
        width: 40px;
    }
    #userColumn{
        margin-top: -15px;
    }
    .nav-wrapper {
        width: 70px !important;
        margin-top: -33px;
        margin-right: 0px !important;
        /* border: solid 2px red; */
    }
    #cc {
        font-size: 14px !important;
        /* border: solid 2px black; */
    }
    #ca {
        font-size: 15px !important;
        /* border: solid 2px black; */
    }
    .header {
        margin-top: 20px;
    }
    .headerRight {
        position: absolute;
    }
    .row {
        display: none;
    }
    .aRow {
        display: none !important;
    }
    .bRow {
        display: table;
    }
}

/* Mobile M */
@media screen and (max-width: 375px) {
    .container {
        width: 100%;
    }
    #headText {
        font-size: 28px;
    }
    .footer {
        display: none;
    }
    .footerx1 {
        display: block;
    }
    .footerx2 {
        display: none;
    }
    .footerx3 {
        display: none;
    }
    #sicons {
        margin-top: 37px;
        width: auto;
    }
    #fb {
        width: 24%;
        margin-left: 15px;
    }
    #twi {
        width: 30%;
        margin-right: 15x;
    }
    #dis {
        width: 24%;
    }
    #mc {
        width: 30%;
        float: left;
        margin: 0;
    }
    #mcSecure {
        width: 20%;
        float: left;
        margin: 0;
        margin-top: 20px;
    }
    #visa {
        width: 15%;
        float: right;
        margin: 0;
    }
    #visaSecure {
        width: 20%;
        float: right;
        margin: 0;
        margin-top: 20px;
    }
}

/* Mobile S */
@media screen and (max-width: 320px) {
    .container {
        width: 100%;
    }
    #headText {
        font-size: 28px;
    }
}